#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.item-card {
  margin-top: 10px;
  border: 1px solid #125702;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.item-card:hover {
  background-color: #03fff7;
}

.ReactModal__Overlay {
  background-color: rgba(1, 31, 8, 0.671) !important;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid greenyellow;
  border-radius: 10px;
  background: rgb(1, 53, 14);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: 20px auto;
}

.modalBg {
  background-color: rgba(63, 56, 56, 0.595);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}